<template>
  <div class="content-wrapper">
    <section class="container">
      <h1 v-if="!modelFilm" class="ui-title-1">Добавление нового фильма:</h1>
      <h1 v-if="modelFilm" class="ui-title-1">Редактирование фильма:</h1>
      <form v-on:submit.prevent="onSubmit">
        <div class="field">
          <label class="ui-label ui-label--light" for="title">Название:</label>
          <input
            v-model="title"
            :class="{invalid: $v.title.$invalid && submitted}"
            id="title"
            type="text"
            placeholder="Введите название"
            autocomplete="off"
          >
          <error :show="!$v.title.required && submitted" text="Название фильма обязательно"/>
          <error
            :show="!$v.title.minLength && submitted"
            text="Количество символов должно быть бюольше 2"
          />
        </div>
        <br>

        <div class="field">
          <label class="ui-label ui-label--light" for="year">Год выпуска:</label>
          <input
            v-model="year"
            id="year"
            type="text"
            placeholder="Введите год выпуска"
            autocomplete="off"
            :class="{invalid: $v.year.$invalid && submitted}"
          >
          <error :show="!$v.year.required && submitted" text="Введите год выпуска фильма"/>
          <error :show="!$v.year.maxValue && submitted" text="Фильм из будущего?"/>
          <error :show="!$v.year.minLength && submitted" text="Введите корректный год"/>
        </div>
        <br>

        <div class="field">
        <label class="ui-label ui-label--light" for="country">Страна:</label>
        <custom-select :value="countryId" @change="onCountryChange" :options="optionsCountry" :className="{invalid: $v.countryId.$invalid && submitted}"></custom-select>
        <error :show="!$v.countryId.required && submitted" text="Выберите страну"/>
        <br>
        </div>

        <div class="field">
          <label class="ui-label ui-label--light" for="genres">Жанры:</label>
          <input
            disabled
            v-model="genresNames"
            id="genres"
            type="text"
            placeholder="Выберите жанры из тегов"
            :class="{invalid: $v.genresNames.$invalid && submitted}"
          >
          <error :show="!$v.genresNames.required && submitted" text="Выберите хотя бы один жанр"/>
        </div>
        <br>
        <div class="field">
          <label class="ui-label ui-label--light" for="producer">Режиссёр:</label>
          <input
            v-model="producer"
            id="producer"
            type="text"
            autocomplete="off"
            :class="{invalid: $v.producer.$invalid && submitted}"
          >
          <error :show="!$v.producer.required && submitted" text="Введите режиссёра фильма"/>
        </div>
        <br>

        <div class="field">
          <label class="ui-label ui-label--light" for="mainRoles">В главных ролях:</label>
          <br>
          <textarea
            v-model="mainRoles"
            id="mainRoles"
            type="text"
            :class="{invalid: $v.mainRoles.$invalid && submitted}"
          ></textarea>
          <error :show="!$v.mainRoles.required && submitted" text="Напишите главные роли"/>
        </div>
        <br>

        <label for="description" class="ui-label ui-label--light">Аннотация:</label>
        <br>
        <textarea v-model="description" id="description"></textarea>

        <custom-tags
          v-bind:genres="genresForFilm"
          v-bind:value="genres"
          @select="value => genres = value"
        ></custom-tags>

        <input
          class="button button--round button-primary"
          type="submit"
          v-bind:value="[ !modelFilm ? 'Добавить новый фильм' : 'Сохранить' ]"
        >
        <router-link to="/">
          <input class="button button--round button-primary" type="button" value="Отмена">
        </router-link>
      </form>
    </section>
  </div>
</template>

<script>
import customSelect from "./Select";
import customTags from "./Tags";
import error from './Error';
import {  required, minLength, maxLength, maxValue } from 'vuelidate/lib/validators'

export default {
  components: { "custom-select": customSelect, "custom-tags": customTags, error },
  data() {
    return {
      title: "",
      year: null,
      countryId: null,
      genres: [],
      producer: "",
      mainRoles: "",
      description: "",
      submitted: false
    }
  },
  validations: {
    title: {
      required,
      minLength: minLength(2)
    },
    year: {
      required,
      maxValue: maxValue(2019),
      minLength: minLength(4)
    },
    countryId: {
      required
    },
    genresNames: {
      required
    },
    producer: {
      required
    },
    mainRoles: {
      required
    },
    description: {
      required
    }
  },
  mounted() {
    if (this.film) {
      Object.assign(this, this.film);
    }
    this.$store.dispatch("getAllCountries");
  },
  props: ["film"],
  computed: {
    modelFilm() {
      return !!this.film;
    },
    optionsCountry() {
      return this.$store.getters.countries;
    },
    genresForFilm () {
      return this.$store.getters.genres;
    },
    genresNames () {
      return this.$options.filters.getGenresNames(this.genres)
    }
  },
  methods: {
    onCountryChange(id) {
      this.countryId = id;
    },
    onSubmit() {
        this.submitted = true;
        if (this.$v.$invalid) {
          return alert("Исправьте поля формы");
        }
        const model = {
          id: (this.film && this.film.id) || 0,
          title: this.title,
          year: this.year,
          countryId: this.countryId,
          genres: this.genres,
          producer: this.producer,
          mainRoles: this.mainRoles,
          description: this.description
        }
      this.$store.dispatch(model.id ? "updateFilm" : "createFilm", model);
      this.$router.push("/");    
    }
  }
};
</script>

<style lang="stylus" scoped>
.ui-title-1 {
  font-size: 25px;
  margin-top: 10px;
}

label {
  margin-right: 10px;
  padding: 4px;
  display: inline-block;
  text-align: left;
  text-transform: none;
  font-size: 17px;
  background-color: #C1C1C1;
}

select {
  width: 200px;
}

textarea {
  width: 500px;
  height: 120px;
}

.button.button--round.button-primary {
  padding: 10px 20px 10px 20px;
}

.button.button--round.button-primary:last-child {
  float: right;
}

.invalid {
  border-color: red;
}

.field {
  position: relative;
}
</style>
