<template>
 <div class="error" :class="{show: show}">
    {{text}}
 </div>
</template>

<script>
export default {
 props: {
     show: {
         type: Boolean,
         default: true
     },
     text: {
         type: String,
     }
 }
}
</script>

<style lang="stylus" scoped>
.error {
    font-size: 15px;
    color red;
    position absolute;
    opacity 0;
    top 71px;
    transition 0.25s all;
}
.error.show {
    transform translateY(10px);
    opacity 1;
}
</style>
