<template>
  <div class="content-wrapper">
    <section>
      <div class="container">
          <div class="film-list row">
            <div class="film-item col-xs-4" v-for="(film, index) in films" :key="film.id">
              <div class="film-img">
                <img src="/static/images/test.jpg" alt="">
              </div>
              <p><b>{{ film.title }}</b></p>
              <p><span>Год:</span> {{ film.year }}</p>
              <p><span>Страна:</span> {{ film.countryId | getCountryName }}</p>
              <input type="button" class="button button--round button-default" @click="filmFullShow = filmFullShow !== film.id ? film.id : undefined"
               v-bind:value="[ filmFullShow != film.id ? 'Развернуть..' : 'Свернуть']">
              <div v-on:click="deleteFilm(film.id)" class="button button-default button--round">Удалить</div>   
              <div class="film-desc" v-bind:class="{'film-desc--active': filmFullShow === film.id}">
                <p><span>Жанры:</span> {{ film.genres | getGenresNames }}</p>
                <p><span>Режисер:</span> {{ film.producer }}</p>
                <p><span>Главные роли:</span> {{ film.mainRoles }}</p>
                <p><span>Описание:</span> {{ film.description }}</p>
                <div v-on:click="filmSelected($event, film, index)" class="button button-default">Редактировать</div>
              </div>
            </div>
          </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  mounted () {
    this.$store.dispatch('getFilms')
    this.$store.dispatch('getAllCountries')
    this.$store.dispatch('getAllGenres')
  },
  computed: {
    films () {
      return this.filter ? this.$store.getters.films.filter(film => film.title.toLowerCase().startsWith(this.filter.toLowerCase())) :  this.$store.getters.films
    },
    filter() {
      return this.$store.getters.searchText
    },
    genres () {
      return this.$store.getters.genres
    },
    countries () {
      return this.$store.getters.countries
    },
  },
  methods: {
    filmSelected: function (evt, film, index) {
      this.$router.push({ name: 'editorFilm', params: { film } })
    },
    deleteFilm (id) {
      this.$store.dispatch('deleteFilm', id)
    }
  },
  data () {
    return {
      filmFullShow: undefined
    }
  }
}
</script>

<style lang="stylus" scoped>
.container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}
.film-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0 10px;
}
.film-item{
  position relative;
  text-align: left;
  width: 33.33%;
  margin-bottom: 20px;
 
}
.film-item:last-child{
  margin-right: 0;  
}
img {
  height: 100%;
  max-width: 100%;
}
.film-img {
  height: 300px;
}
span{
  text-decoration-line: underline;
}
.film-item p{
  margin: 7px 5px;
}
.film-desc{
  overflow: auto;
}
.button.button-default{
  font-size: medium;
  padding: 0.1em 5px;
  margin: 5px;
}
.film-desc {
  position: absolute;
  height : 100%;
  left: 0;
  top: 0;
  z-index -1;
  width: 100%;
  transition : 1.2s all;
  opacity 0;
  background: white;
  }
.film-desc--active {
  left: 100%;
  opacity : 1;
  z-index: 2;
  left: 60%;
}
</style>
