<template>
  <div>
    <select @change="onChange" id="country" v-bind:value="value" :class="className">
      <option value="change country" disabled>Выберите страну</option>
      <option
        v-for="option in options"
        v-bind:key="option.countryId"
        v-bind:value="option.countryId"
      >{{ option.nameCountry}}</option>
    </select>
  </div>
</template>

<script>
export default {
  methods: {
    onChange(ev) {
      this.$emit("change", ev.target.value);
    }
  },
  props: ['options', 'value', 'className']
  // {
  //   options: Array,
  //   value: Number,
  //   className: Object
  // }
};
</script>

<style lang="stylus" scoped>
.invalid {
  border-color: red;
}</style>
