<template>
  <div>
    <div class="tag-list tag-list--add">
      <div class="ui-tag__wrapper" @click="onNew">
        <div class="ui-tag">
          <span class="tag-title">Добавить тег</span>
          <span :class="{ active2: !tagMenuShow }" class="button-close"></span>
        </div>
      </div>
    </div>

    <div class="tag-list tag-list--menu" v-show="tagMenuShow">
      <input ref="tagInput" type="text" class="tag-add--input" placeholder="Новый тег" v-model="tagTitle">
      <div @click="newTag" class="button button-default">Добавить</div>
    </div>

    <div class="tag-list">
      <div v-for="genre in genres" v-bind:key="genre.genreId" class="ui-tag__wrapper">
        <div
          class="ui-tag"
          v-bind:class="{active: (value || []).includes(genre.genreId)}"
          @click.prevent="select(genre)"
        >
          <span class="tag-title">{{ genre.nameGenre }}</span>
          <span v-if="!(value || []).includes(genre.genreId)" @click.prevent.stop="deleteTag(genre.genreId)" class="button-close"></span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  mounted() {
    this.$store.dispatch("getAllGenres")
  },
  data() {
    return {
      tagMenuShow: false,
      tagTitle: ""
    }
  },
  props: {
    genres: {
      type: Array,
      default: () => []
    },
    value: {
      type: Array,
      default: () => []
    }
  },
  methods: {
    onNew (e) {
      this.tagMenuShow = !this.tagMenuShow;
      this.$nextTick(() => {
        this.$refs.tagInput.focus();
      })
    },
    select(genre) {
      const exist = this.value.find(v => v === genre.genreId)
      if (exist) {
        return this.$emit(
          "select",
          this.value.filter(v => v !== genre.genreId)
        );
      }
      this.$emit("select", this.value.concat(genre.genreId))
    },
    newTag () {
        const modelTag = {
            genreId: 0,
            nameGenre: this.tagTitle
        }
        this.$store.dispatch("createGenre", modelTag)
        this.tagTitle = ""
    },
    deleteTag (id) {
        this.$store.dispatch('deleteGenre', id)
    }
  }
}
</script>

<style lang="stylus" scoped>
.tag-list {
  margin-bottom: 20px;
}
.ui-tag__wrapper {
  margin-right: 18px;
  margin-bottom: 10px;

  &:last-child {
    margin-right: 0;
  }
}
.tag-list--menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tag-add--input {
  width: 100%;
  margin-bottom: 0;
  margin-right: 10px;
  height: 42px;
}
.active {
  background: #444ce0;
  color: white;
}

.active2 {
  transform: rotate(45deg);
}
</style>
