<template>
  <div class="wrapper">
    <header>
      <div class="navbar">
        <div class="container">
          <div class="navbar-content">
            <router-link class="header-logo" to="/">Films Library</router-link>
            <input class="search" type="search" placeholder="Поиск фильма" @input="onSearchChange" v-bind="searchText">
            <div class="navbar-list__wrapper">
              <ul class="navbar-list">
                <li class="navbar-item">
                  <router-link class="navbar-link" to="/editorFilm">
                    <button class="button--round button-default">+Добавить фильм</button>
                  </router-link>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  data () {
    return {
      homeLink: { title: 'Home', url: '/' },
      addLink: { title: 'EditorFilm', url: '/editorFilm' },
    }
  },
  computed: {
    searchText() {
      return this.$store.getters.searchText
    }
  },
  methods: {
    onSearchChange(event) {
      this.$store.commit('updateSearchText', event.target.value);
    }
  }
}
</script>

<style lang="stylus">
@import './assets/stylus/main.styl';
</style>

<style lang="stylus" scoped>
input[type='search'] {
  width: 200px;
  margin: 0;
}

.header-logo {
  font-size: 30px;
}
.navbar.short {
	input, .navbar-list__wrapper {
		display: none;
	}
}
</style>
